### logs
logs/*

### Gradle template
.gradle
build/
gradle/
gradlew
gradlew.bat

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

# IntelliJ
/out/
out/

#For developers Usage application-development.properties will be created manually and ignored and not tracked.
application-development.properties
